@font-face {
  font-family: 'Montserrat-Black';
  src: url(../fonts/Montserrat-Black/Montserrat-Black.iot);
  src: url(../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Montserrat-Black/Montserrat-Black.woff) format("woff"),
    url(../fonts/Montserrat-Black/Montserrat-Black.woff2) format("woff2"),
    url(../fonts/Montserrat-Black/Montserrat-Black.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold/Montserrat-Bold.iot);
  src: url(../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Bold/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat-Bold/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat-Medium/Montserrat-Medium.iot);
  src: url(../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Medium/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat-Medium/Montserrat-Medium.woff2) format("woff2"), url(../fonts/Montserrat-Medium/Montserrat-Medium.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular/Montserrat-Regular.iot);
  src: url(../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Regular/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light/Montserrat-Light.iot);
  src: url(../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Light/Montserrat-Light.woff) format("woff"), url(../fonts/Montserrat-Light/Montserrat-Light.woff2) format("woff2"), url(../fonts/Montserrat-Light/Montserrat-Light.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Light';
  src: url(../fonts/Comfortaa/Comfortaa-Light.ttf) format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
.section-1 {
  display: flex;
  height: 100vh;
  width: 100%;
}
.section-1__left {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  height: calc(100% - 40px);
}
.section-1__left .section-1_main1 {
  display: flex;
}
.section-1__left .section-1_main1 .head h2 {
  font-size: 39px;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat-Bold';
  margin-left: 5px;
}
.section-1__left .section-1_main1 .line {
  background-color: #333333;
  width: 510px;
  height: 5px;
  display: block;
  align-self: center;
}
.section-1__left-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.section-1__left .section-1_main2 p {
  font-family: 'Montserrat-Light';
  font-size: 14px;
  text-align: left;
  position: relative;
  z-index: 2;
  float: right;
  margin-right: -10px;
}
.section-1__left .section-1_main3 {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.section-1__left .section-1_main3 .section-1-img {
  width: 600px;
  height: 218px;
}
.section-1__right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  background-image: url("../img/content1.jpg");
  background-position: 80% 0;
  background-repeat: no-repeat;
  z-index: 1;
  height: 100%;
  background-size: cover;
}

.section-2 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-2__top {
  margin-bottom: 60px;
}
.section-2__top .section-2__top-title {
  font-size: 26px;
  font-family: 'Montserrat-Black';
  text-align: center;
  width: 100%;
  margin: 0;
}
.section-2__bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.section-2__bottom .description {
  width: 400px;
}
.section-2__bottom .description h3 {
  font-size: 14px;
  font-family: 'Montserrat-Bold';
  margin-bottom: 15px;
}
.section-2__bottom .description p {
  margin: 0;
  font-size: 12px;
  font-family: 'Montserrat-Bold';
}
.section-2__bottom .description img {
  width: 185px;
  height: 185px;
}

/* section-3 */
.section-3 {
  display: flex;
  height: 100vh;
}
.section-3__left {
  width: calc(40% - 100px);
  background-image: url("../img/content3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-3__middle {
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  height: 100%;
  width: 200px;
  margin-left: -150px;
}
.section-3__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
}
.section-3__right .title {
  font-size: 39px;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat-Black';
  width: 350px;
  margin-right: 0;
}
.section-3__right .line {
  background-color: #333333;
  width: 360px;
  height: 4px;
  display: block;
  margin-left: 367px;
  margin-block-start: -75px;
  margin-block-end: 67px;
}
.section-3__right .section-3__right-container {
  display: flex;
  width: 608px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.section-3__right-container .img-wrapper {
  width: 105px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
}
.section-3__right .img-wrapper .img-wrapper__img-box {
  width: 100%;
  height: 95px;
  background-image: url("../img/content3setka.jpg");
  display: flex;
  background-repeat: no-repeat;
}
.section-3__right .img-wrapper .img-wrapper__title {
  font-family: 'Montserrat-Bold';
  font-size: 10px;
}
/*
  head-slide
*/
.head-slide {
  height: 100vh;
}
.head-slide .main-slide {
  height: calc(100% - 200px);
}
.head-slide .main-slide .main-slide_container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.head-slide .slide-container {
  height: 200px;
  display: flex;
  flex-direction: row;
}
.slide-container .slide img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
